/*
#box {
    border: black solid 2px;
    width: 200px;
    height: 200px;
}
*/

#view {
    width: 1000px;
    height: 1000px;
}
.legend {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: yellow;
    width: 500px;
    border: 2px solid black;
    padding: 5px;
    z-index: 10;
}
.rotate-e {
    transform-origin: 200px 200px;
    transform: rotate(270deg);
}

.rotate-nne {
    transform-origin: 200px 200px;
    transform: rotate(330deg);
}

.rotate-nnw {
    transform-origin: 200px 200px;
    transform: rotate(30deg);
}

.rotate-w {
    transform-origin: 200px 200px;
    transform: rotate(90deg);
}

.rotate-ssw {
    transform-origin: 200px 200px;
    transform: rotate(150deg);
}

.rotate-sse {
    transform-origin: 200px 200px;
    transform: rotate(210deg);
}

.tile {
    width: 40px;
    height: 30px;
    border: gray 2px solid;
    display: inline-block;
    margin: 2px;
}
.half-tile {
    width: 14px;
    height: 30px;
    border: white 2px solid;
    display: inline-block;
    margin: 2px;
}
.mark {
    border: darkred 2px solid !important;
}
.arrow-e {
    background: url("img/arrow-e.png") no-repeat 6px 1px;
    background-size: 30px 30px;
}
.arrow-nne {
    background: url("img/arrow-nne.png") no-repeat 6px -1px;
    background-size: 30px 30px;
}
.arrow-nnw {
    background: url("img/arrow-nnw.png") no-repeat 4px -1px;
    background-size: 30px 30px;
}
.arrow-w {
    background: url("img/arrow-w.png") no-repeat 4px 1px;
    background-size: 30px 30px;
}
.arrow-ssw {
    background: url("img/arrow-ssw.png") no-repeat 4px 2px;
    background-size: 30px 30px;
}
.arrow-sse {
    background: url("img/arrow-sse.png") no-repeat 6px 2px;
    background-size: 30px 30px;
}
.actor-a {
    background-color: red;
}
.actor-b {
    background-color: royalblue;
}
.actor-c {
    background-color: limegreen;
}
.actor-d {
    background-color: cyan;
}
.actor-e {
    background-color: magenta;
}
.actor-f {
    background-color: yellow;
}
